/*styles for my resume */
body{
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  font-size: 1em;
  font-weight: 400;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* bolded heading style */
#name{
  color:#33485e;
  text-transform: uppercase;
  text-align:center;
  font-size: 3em;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

strong{
  color:#33485e;
  text-transform: uppercase;
  font-size: 1.5em;
}

/* Section banners */
.sectionheader{
  color:#FFFFFF;
  background-color: #33485e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

/*Job Title */

.jobtitle{
  font-weight: 600;
  font-size: 1.5em;
}

/* Organization */
.organization{
  font-weight: 400;
  font-size: 1.25em;
}

/*Date */
.date{
  font-weight: 400;
  font-size: 1em;
  font-style:italic;
  margin-top:2px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

li{
  font-size: 1em;
}

.menu{
  margin:0px;
  padding: 0px;
  text-align: center;
}

.menu>li{
  display: inline;
}

#degrees{
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#do{
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#title{
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
